/*section*/
section{
    padding-block: 100px;
}

.section-title{
    margin-bottom: 20px;
}

/*container*/
.container{
    padding-inline: 20px;
}

@media(min-width: 1000px){
    .container{
        width: 1000px;
        margin-inline: auto;
    }
}