.scrolldown {
  position: absolute;
  top: 200px;
  right: 10%;
  transform: translateY(-5%);
  animation: arrowmove 1s ease-in-out infinite;
  z-index: 500;
}

@keyframes arrowmove {
  0% {
    bottom: 1%;
  }

  50% {
    bottom: 3%;
  }

  100% {
    bottom: 1%;
  }
}

.scrolldown span {
  position: absolute;
  left: -30px;
  bottom: 10px;
  color: black;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

.scrolldown::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: -6px;
  width: 1px;
  height: 20px;
  background: black;
  transform: skewX(-31deg);
}

.scrolldown::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1px;
  height: 50px;
  background: black;
}